.App {
  text-align: center;
}

.card-container {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.card {
  padding-top: 200px;
  text-align: center;
  width: 240px; 
  height: auto;
  padding-bottom: 250px; 
  margin: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.5s;
  display: flex;
  overflow: hidden
}

.card.flipped {
  background-color: #fff;
  transform: rotateY(180deg) scale(-1, 1);
}

.card:hover {
  background-color: #4299e1;
}
.card-content {
  padding: 20px;
}

footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-content {
  margin-bottom: 10px;
}

.footer-institution {
  font-weight: bold;
}

.footer-course {
  font-style: bold;
}

.footer-subject {
  color: white;
  font-style: bold;
}