
.App {
  text-align: center;
}

.card-container {
  padding: 20px;
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de largura igual */
  gap: 20px; /* Espaçamento entre os cartões */
  background-color: #d3d3d3;
  justify-content: center;
}

.card {
  color: red;
  display: flex;
  justify-content: center;
  background-image: url(../imgs/bg1.jpg);
  background-size: cover;
  background-position: center; 
  padding: 5px;
  font-size: 1.05em;
  cursor: pointer;
  transition: transform 0.5s;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flipped {
  background-image: none;
  background-color: white;
  transform: rotateY(180deg) scale(-1, 1);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.card-content {
  padding: 20px;
}

footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-content {
  margin-bottom: 10px;
}

.footer-institution {
  font-weight: bold;
}

.footer-course {
  font-style: bold;
}

.footer-subject {
  font-style: bold;
}

.back{
  font-size: 2em;
  font-weight: bold;
  color: #d3d3d3 !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.score{
  z-index: 2;
  position: fixed;
  bottom: 2%;
  left: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1.5em;
}